.hoverImgDiv{
    width: 450px;
    height: 322px;
   padding-top: 20px;
   transition: all 0.5s ease;
   
}
.hoverImgDiv img {

    width: 85%;
    height: 85%;
    object-fit: cover;
    border-radius: 10px;
  }

.MainContainer{
    width: 1187px;
    margin: 0 auto;
   
    border-bottom: 1px solid rgba(192, 192, 192, 0.637);
}






.TxtDiv{
   width: 50%;
}


.seeBtn{
    background: #8e8e8f;
    margin-left: 700px;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 112px;
    border-radius: 24px;
    padding: 5px;
    color: white;
    margin-top: 24px;
}
.seeBtn:hover{
    background: #7b7b7c;
   
}


@media (min-width: 1700px) and (max-width: 4000px) {
    .hoverImg{
        width: 450px;
        height: 322px;
        border-radius: 10px;
        position: absolute;
        left: 480px;
        z-index: 1;
    }
  }


  @media screen and (max-width: 640px) {
    .MainContainer{
        width: 640px;
        margin: 0 auto;
        border-bottom: 1px solid rgba(192, 192, 192, 0.637);
    }
    .TxtDiv{
        margin-left: 0px;
      
     }

     .hoverImg{
        width: 0;
        height: 0;
        border-radius: 10px;
        position: relative;
        left: 0px;
        z-index: 0;
       
    }
    
  
    
    .SubContainer .hoverImg{
        visibility: hidden;
        position: absolute;
        transition: all 0.5s ease;
        transform: scale(1);
    }
    
    
    .SubContainer:hover .hoverImg{
        visibility: hidden;
       
        
    }
    .unHoverImg{
        display: block;
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
   
     }