.hoverImg{
    width: 450px;
    height: 322px;
    border-radius: 10px;
    position: absolute;
    left: 256px;
    z-index: 1;
}

.MainContainer{
    width: 1187px;
    margin: 0 auto;
   
    border-bottom: 1px solid rgba(192, 192, 192, 0.637);
}

.SubContainer .hoverImg{
    visibility: hidden;
    position: absolute;
    transition: all 0.5s ease;
    transform: scale(0);
}


.SubContainer:hover .hoverImg{
    visibility: visible;
    transform: scale(1);
    
}

.TxtDiv{
   margin-left: 559px;
}

.unHoverImg{
    display: none;
}

@media (min-width: 1700px) and (max-width: 4000px) {
    .hoverImg{
        width: 450px;
        height: 322px;
        border-radius: 10px;
        position: absolute;
        left: 480px;
        z-index: 1;
    }
  }


  @media screen and (max-width: 640px) {
    .MainContainer{
        width: 640px;
        margin: 0 auto;
        border-bottom: 1px solid rgba(192, 192, 192, 0.637);
    }
    .TxtDiv{
        margin-left: 0px;
      
     }

     .hoverImg{
        width: 0;
        height: 0;
        border-radius: 10px;
        position: relative;
        left: 0px;
        z-index: 0;
       
    }
    
  
    
    .SubContainer .hoverImg{
        visibility: hidden;
        position: absolute;
        transition: all 0.5s ease;
        transform: scale(1);
    }
    
    
    .SubContainer:hover .hoverImg{
        visibility: hidden;
       
        
    }
    .unHoverImg{
        display: block;
        border-radius: 20px;
    }
   
     }