.card {
    width: 300px;
    height: 320px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 150px;
    padding-bottom: 50px;
  }

  .loginContainer{
    width: 1503px;
    margin: 0 auto;
  }

  .LoginInput[type="email"],
  .LoginInput[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .loginButton[type="submit"] {
    width: 100%;
    padding: 10px;
    background: rgb(237,123,72);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .loginButton[type="submit"]:hover {
    background: rgb(219, 96, 38);
  }