.articleCard {
    width: 1503px;
    height: 740px;
    border-radius: 32px;
    overflow: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  
  }

  
  
  

  
  .MainContainer{
    width: 1503px;
    margin: 0 auto;
  }
  
  
  .articleCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  
  .articleCard .content {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    padding: 30px 20px 20px 20px;
    height: auto;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  }

  
  .articleCard .date,
  .articleCard .title {
    margin: 0;
  }
  .articleCard2 .date,
  .articleCard2 .title {
    margin: 0;
  }
  
  
  
  .articleCard .title {
    font-size: 19px;
    color: #c7c7c7;
    margin-bottom: 7px;
    letter-spacing: 4px;
  }
  
  .articleCard .titleTxt1 {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
  }
 
  .articleCard .titleTxt2 {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
  }
  
  
  .content{
    display: flex;
    justify-content: space-between;
  }
  
  .arrowBtn{
    background: white;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 50px;
    margin-right: 42px;
    cursor: pointer;
  }
  
  .arrow{
    font-size: 34px;
    margin: 15px 15px 15px 15px;
    color: #ec7324;
    transition:.3s ease;
    
  }

  .arrowBtn:hover .arrow{
    rotate: -50grad;
  }
  
  .date{
    z-index: 1;
    position: absolute;
    top: 215px;
    left: 85px;
    font-size: 17px;
    color: #c7c7c7;
    letter-spacing: 5px;
    font-weight: 600;
  }



/* article card 2  */

  .articleCard2 {
      width: 746px;
      height: 740px;
      border-radius: 32px;
      overflow: hidden;
      position: relative;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 24px ;
    }

    .articleCard2 .content {
      box-sizing: border-box;
      width: 100%;
      position: absolute;
      padding: 30px 20px 20px 20px;
      height: auto;
      bottom: 0;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
    }

    .articleCard2 .titleTxt2 {
      margin-top: 6px;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      letter-spacing: 2px;
    }

    .articleCard2 .titleTxt1 {
      margin-top: 2px;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      letter-spacing: 2px;
    }

    .articleCard2 .title {
      font-size: 19px;
      color: #c7c7c7;
      margin-bottom: 7px;
      letter-spacing: 4px;
    }

    .articleCard2 img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .arrowBtn2{
      background: white;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      margin-top: 200px;
      margin-right: 12px;
      cursor: pointer;
    }

    .arrowBtn2:hover .arrow{
      rotate: -50grad;
    }



    @media screen and (max-width: 640px) {
      .MainContainer{
        width: 640px;
        margin: 0 auto;
      }

      .articleCard {
        width: 574px;
        height: 740px;
        border-radius: 32px;
        overflow: hidden;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
      
      }
      .articleCard2 {
        width: 574px;
        height: 740px;
        border-radius: 32px;
        overflow: hidden;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 24px ;
      }
  

    }